<div id="section_search" class="input-group" style="width: 100%;">
  <input id="search_condition" type="text" class="form-control"
    placeholder="输入名称 / URL / 类型" style="width: 400px;"> <span
    class=""><button id="search" type="button"
      class="btn btn-primary" style="width: 80px;">搜索</button></span> <span
    class="input-group-btn"><button id="add_event" type="button"
      class="btn btn-default restful_monitor_page-toolbar"
      style="width: 80px;">新增</button></span> &nbsp <span
    class="input-group-btn"><button id="delete_event"
      type="button" class="btn btn-default restful_monitor_page-toolbar"
      style="width: 80px;">删除</button></span>
</div>
<hr />

<div id="section_condition">
  <hr />
</div>
<br />

<div id="section_table">
  <table id="event_table" class="table ">
  </table>
</div>

<!-- add_event_dialog -->
<div id="add_event_dialog" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="create_job_data_sync_dialog_title">创建事件</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="add_event_name" placeholder="必填" />
            </div>
          </div>

          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件类别</label>
            <div class="col-sm-4">
              <select class="form-control" id="add_event_category">
                <option value="0" selected="selected">选择</option>
                <option value="1">乐谣活动</option>
                <option value="2">乐谣教育</option>
                <option value="3">艺术分享</option>
                <option value="4">音乐专辑</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件类型</label>
            <div class="col-sm-4">
              <select class="form-control" id="add_event_type">
                <option value="0" selected="selected">选择</option>
                <option value="1">图像</option>
                <option value="2">音频</option>
                <option value="3">视频</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">显示URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="add_event_title_url" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">跳转URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="add_event_content_url" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">Banner序号</label>
            <div class="col-sm-2">
              <input type="text" class="form-control"
                id="add_event_banner_position" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">推荐序号</label>
            <div class="col-sm-2">
              <input type="text" class="form-control"
                id="add_event_recommend_position" />
            </div>
          </div>

          <div class="form-group">
            <label for="add_event_is_active"
              class="col-sm-2 control-label" style="width: 120px;">是否激活</label>
            <div class="col-sm-10">
              <label class="checkbox-inline"> <input
                type="radio" name="add_event_is_active" id="add_event"
                value="0" checked> 是
              </label> <label class="checkbox-inline"> <input
                type="radio" name="add_event_is_active" id="add_event"
                value="1" checked> 否
              </label>
            </div>
          </div>

        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">关闭</button>
          <button id="add_event_dialog_save" type="button"
            class="btn btn-primary">保存</button>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- edit_event_dialog -->
<div id="edit_event_dialog" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="create_job_data_sync_dialog_title">编辑事件</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
                  <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="edit_event_id"/>
            </div>
          </div>
        
          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="edit_event_name" placeholder="必填" />
            </div>
          </div>

          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件类别</label>
            <div class="col-sm-4">
              <select class="form-control" id="edit_event_category">
                <option value="0" selected="selected">选择</option>
                <option value="1">乐谣活动</option>
                <option value="2">乐谣教育</option>
                <option value="3">艺术分享</option>
                <option value="4">音乐专辑</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class=" col-sm-2  control-label"
              style="width: 120px;">事件类型</label>
            <div class="col-sm-4">
              <select class="form-control" id="edit_event_type">
                <option value="0" selected="selected">选择</option>
                <option value="1">图像</option>
                <option value="2">音频</option>
                <option value="3">视频</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">显示URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="edit_event_title_url" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">跳转URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="edit_event_content_url" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">Banner序号</label>
            <div class="col-sm-2">
              <input type="text" class="form-control"
                id="edit_event_banner_position" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2  control-label" style="width: 120px;">推荐序号</label>
            <div class="col-sm-2">
              <input type="text" class="form-control"
                id="edit_event_recomend_position" />
            </div>
          </div>

          <div class="form-group">
            <label for="edit_event_is_active"
              class="col-sm-2 control-label" style="width: 120px;">是否激活</label>
            <div class="col-sm-10">
              <label class="checkbox-inline"> <input
                type="radio" name="edit_event_is_active" id="edit_event"
                value="0" checked> 是
              </label> <label class="checkbox-inline"> <input
                type="radio" name="edit_event_is_active" id="edit_event"
                value="1"> 否
              </label>
            </div>
          </div>

        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">关闭</button>
          <button id="edit_event_dialog_save" type="button"
            class="btn btn-primary">保存</button>
        </div>

      </div>
    </div>
  </div>
</div>