<div id="section_search" class="input-group" style="width: 100%;">
  <input id="search_condition" type="text" class="form-control"
    placeholder="输入名称 / 描述 / 所有者" style="width: 400px;"> <span
    class=""><button id="search" type="button"
      class="btn btn-primary" style="width: 80px;">搜索</button></span>
  <!-- &nbsp<span><button id="run" type="button" class="btn btn-default" style="width: 80px;">运行</button></span> -->
  <div class="input-group-btn job_manager_page-toolbar">
    <button type="button" class="btn btn-default dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      style="width: 80px;">
      新增 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" id="java_job">Java 作业</a></li>
      <li><a href="#" id="shell_job">Shell 作业</a></li>
      <li><a href="#" id="hive_job">Hive 作业</a></li>
      <li><a href="#" id="data_sync_job">数据同步作业</a></li>
    </ul>
  </div>
  &nbsp <span class="input-group-btn"><button
      id="transform_to_jobflow" type="button"
      class="btn btn-default restful_monitor_page-toolbar"
      style="width: 80px;">转Jobflow</button></span> &nbsp <span
    class="input-group-btn"><button id="delete" type="button"
      class="btn btn-default restful_monitor_page-toolbar"
      style="width: 80px;">删除</button></span>
</div>
<hr />

<div id="section_condition">
  <div id="section_condition_type">
    <b>类型</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
      id="section_condition_type-0" class="label label-danger">不限</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
      id="section_condition_type-1">Java</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
      id="section_condition_type-2">Hive</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
      id="section_condition_type-3">数据同步</span>
  </div>
  <hr />
  <div id="section_condition_filter">
    <b>筛选条件</b>
  </div>
</div>
<br />

<div id="section_table">
  <table id="job_manager_table" class="table ">
  </table>
</div>