<!-- Content Wrapper. Contains page content -->
<div id="inner-container">
  <div class="row">
    <div class="col-md-12">
      <form name="myForm">
        <fieldset>
          <legend>Upload Resources</legend>

          Type: <select name="resouceType" ng-model="selectedType">
            <option ng-repeat="x in types" value="{{x.type}}">{{x.type}}</option>
          </select><i ng-show="myForm.resouceType.$error.required">*required</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <button ng-disabled="!myForm.$valid" ng-click="uploadResource(resourceFile)">Submit</button>
          <button ng-click="resourceFile = null" ng-show="resourceFile">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
          <span class="progress" ng-show="resourceFile.progress >= 0">
            <div style="width: {{resourceFile.progress" ng-bind="resourceFile.progress + '%'"></div>
          </span> <span ng-show="resourceFile.result">Upload Successful</span> <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
          <p />

          Resource: <input type="file" ngf-select ng-model="resourceFile" name="file" accept="all/*"
            ngf-max-size="200MB" required ngf-model-invalid="errorFile"> <i
            ng-show="myForm.file.$error.required">*required</i><br> <i ng-show="myForm.file.$error.maxSize">File
            too large {{errorFile.size / 5000000|number:1}}MB: max 50M</i> <img ng-show="myForm.file.$valid"
            ngf-thumbnail="resourceFile" class="thumb">
          

        </fieldset>
        <br>
      </form>
    </div>
  </div>
</div>